:root {
  // brand colors
  --c-brand: #3498db;
  --c-brand-light: #48a2df;
}

#test,
#favor_introduction_01,
#favor_interaction_01,
#nsfw_01 {
  color: rgb(10, 10, 10);
  background-color: rgb(10, 10, 10);
  font-size: 10px;
}

#develoer_01,
#nonebot2_nbnhhsh_01 {
  color: rgb(10, 10, 10);
  background-color: rgb(10, 10, 10);
  font-size: 13px;
}

#nsfw_02 {
  text-decoration: line-through;
  color: rgb(10, 10, 10);
  background-color: rgb(10, 10, 10);
  font-size: 13px;
}

#test:hover,
#develoer_01:hover,
#favor_introduction_01:hover,
#favor_interaction_01:hover,
#nonebot2_nbnhhsh_01:hover,
#nsfw_01:hover,
#nsfw_02:hover {
  color: white;
  transition: 0.2s;
}

.manual_topic {
  text-align: center;
  font-weight: bolder;
}

.promise {
  font-size: 40px;
  font-weight: bolder;
  font-family: Arial;
  letter-spacing: 5px;
  margin-bottom: 0;
}

#promise_title {
  text-align: center;
  font-weight: bolder;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
}
